* {
  margin: 0;
}

html {
  background-color: lightgray;
}

.messageInput {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.formcontrol {
  display: flex !important;
  flex-direction: row !important;
}
.input {
  flex: 1 !important;
}

.messageContainer {
  padding: 1em 0.5em;
  padding-bottom: 3em;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}
